{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ThinkSharp{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'sudoku/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script type="module" src="{% static 'sudoku/scripts/script.js' %}"></script>
    <link rel="icon" href="{% static 'sudoku/icon/favicon-16x16.png' %}">
</head>
<body>
    <nav>
        {% block nav %}
        {% endblock %}
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
