{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the homepage!</title>
    <link rel="stylesheet" href="{% static 'sudoku/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script type="module" src="{% static 'sudoku/scripts/script.js' %}"></script>
    <link rel="icon" href="{% static 'sudoku/icon/favicon-16x16.png' %}">
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <div class="nav-container">
                <div class="nav-center">
                    <a href="{% url 'solve_sudoku' %}">Solve Sudoku</a>
                    <a href="{% url 'history' %}">History</a>
                    <a href="{% url 'logout' %}">Log Out</a>
                </div>
                <a href="{% url 'settings' %}" id="settings-link" class="settings-link"><i class="fas fa-gear"></i></a>
            </div>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>

    <div class="container" id="home-container">
        <h1>Welcome to ThinkSharp!</h1>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}! Enjoy creative and challanging games.</p>
        {% else %}
            <p>Please, <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to get started.</p>
        {% endif %}
    </div>
</body>
</html>
