/* ========================= Root Variables ========================= */
:root {
    /* Themes */
    --theme-color: #FF6F61;
    --theme-color-hover: #fa5647;
    --theme-color-white: #f3e2e1;
    --theme-color-light: #f68d84;
    --theme-color-dark: #C0392B;

    /* Light Mode */
    --background-color: #F9F5F2;
    --container-background: white;
    --font-color: #2A2A2A;
    --font-color-light: #666;
    --box-background: #FFFFFF;
    --box-border-color: #E0E0E0;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --card-background: #f1f1f1;
    --tile-background: #eeeeee;
}

/* Dark mode */
[data-mode="dark"] {
    --background-color: #2A2A2A;
    --container-background: #1c1c1c;
    --font-color: #F9F5F2;
    --font-color-light: #cac9c9;
    --box-background: #333333;
    --box-border-color: #444444;
    --box-shadow: rgba(255, 255, 255, 0.1);
    --card-background: #474747;
    --tile-background: #eeeeee;
}

[data-theme="blue"] {
    --theme-color: #3498db;
    --theme-color-hover: #1e689a;
    --theme-color-white: #d2e1eb;
    --theme-color-light: #85c1e9;
    --theme-color-dark: #1f618d;
}

[data-theme="green"] {
    --theme-color: #2ecc71;
    --theme-color-hover: #27ae60;
    --theme-color-white: #d8efe2;
    --theme-color-light: #a9dfbf;
    --theme-color-dark: #1e8449;
}

[data-theme="purple"] {
    --theme-color: #9b59b6;
    --theme-color-hover: #8e44ad;
    --theme-color-white: #f0e6f5;
    --theme-color-light: #d2b4de;
    --theme-color-dark: #6c3483;
}

[data-theme="orange"] {
    --theme-color: #e67e22;
    --theme-color-hover: #ca6f1e;
    --theme-color-white: #fcf3e4;
    --theme-color-light: #f5cba7;
    --theme-color-dark: #a04000;
}

[data-theme="teal"] {
    --theme-color: #1abc9c;
    --theme-color-hover: #16a085;
    --theme-color-white: #e0f7f4;
    --theme-color-light: #76d7c4;
    --theme-color-dark: #117864;
}

[data-theme="red"] {
    --theme-color: #e74c3c;
    --theme-color-hover: #c0392b;
    --theme-color-white: #fcebea;
    --theme-color-light: #f1948a;
    --theme-color-dark: #922b21;
}

[data-theme="gold"] {
    --theme-color: #f1c40f;
    --theme-color-hover: #d4ac0d;
    --theme-color-white: #fef9e7;
    --theme-color-light: #f7dc6f;
    --theme-color-dark: #b7950b;
}


/* ========================= General Styles ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    text-align: center;
    touch-action: manipulation;
    padding-bottom: 50px;
}

.prevent-text-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* ========================= Heading Styles ========================= */
h1, h2, h3 {
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
}

h1 { font-size: 36px; margin-bottom: 20px; }
h2 { font-size: 28px; margin-bottom: 15px; }
h3 { font-size: 19px; margin-bottom: 10px; }

p, label {
    color: var(--font-color);
}

/* ========================= Links Styling ========================= */
a {
    text-decoration: none;
    color: var(--theme-color);
}

a:hover {
    color: var(--theme-color-hover);
    text-decoration: underline;
}

/* ========================= Navbar Styles ========================= */
nav {
    background-color: var(--theme-color);
    color: white;
    padding: 15px;
    height: 10vh;
    font-size: 18px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 5vh;
}

.nav-center {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 20px;
    font-weight: 500;
    transition: color 0.3s ease;
    white-space: nowrap;
    transition: all 0.3s ease;
    display: inline-block;
}

nav a:hover {
    color: white;
    text-decoration: none;
    transform: translateY(-2px) scale(1.05);
}

.settings-gear {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.3s ease;
    display: flex;
    text-decoration: none;
}

.settings-gear:hover {
    transform: translateY(-50%) rotate(120deg) scale(1.1);
}

/* ========================= Container Styles ========================= */
.container {
    width: 60%;
    max-width: 1000px;
    min-height: 400px;
    margin: 0 auto;
    padding: 30px 50px 50px 50px;
    background-color: var(--container-background);
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--box-shadow);
    justify-content: center;
}

/* ========================= Form Styles ========================= */
form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

form input, form select, form button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #FAFAFA;
    font-size: 16px;
}

form button {
    background-color: var(--theme-color);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--theme-color-hover);
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


/* ========================= Buttons ========================= */
button {
    background-color: var(--theme-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--theme-color-hover);
}

/* ========================= Mobile Styles ========================= */
@media only screen and (max-width: 1200px) {
    :root {
        --board-size: 90vw;
        --tile-size: calc(var(--board-size) / 9);
        --option-width: 90vw;
        --option-height: var(--board-size);
    }

    .container {
        min-width: 85vw;
        min-height: 90vh;
        padding: 20px;
    }

    .sudoku-container {
        min-width: 100%;
    }

    nav {
        padding-top: 20px;
        max-height: 80px;
        font-size: 24px;
    }

    .nav-container {
        height: 40px;
    }
    .settings-gear {
        font-size: 32px;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --board-size: 70vw;
        --tile-size: calc(var(--board-size) / 9);
        --option-width: 90vw;
        --option-height: var(--board-size);
    }

    nav {
        max-height: 50px;
        font-size: 16px;
    }

    .nav-container {
        height: 25px;
    }

    .nav-center {
        gap: 5px;
    }

    .logout-link {
        display: none;
    }

    .container {
        width: 95vw;
        min-height: 90vh;
        padding: 20px;
    }

    #solve-sudoku-container {
        width: 95vw;
        padding: 20px;
    }

    #sudoku-container { display: none; }
    #special-switch-container { display: block; }

    h1 { font-size: 28px; }
    h2 { font-size: 24px; }
    h3 { font-size: 20px; }

    #board, #solution {
        width: var(--board-size);
        height: var(--board-size);
    }

    .tile {
        width: var(--tile-size);
        height: var(--tile-size);
    }

    #numbers {
        width: var(--board-size);
        height: calc(var(--tile-size) * 0.9);
    }

    #options-container {
        margin: 0 auto;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #difficulty {
        height: 60%;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .new-game-btn {
        width: 50%;
        height: 25%;
        font-size: 12px;
    }
    
    #game-options {
        height: 40%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .options-onoff {
        margin: 10px auto;
        display: block;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-columns: repeat(2, 1fr); */
        gap: 10px;
        justify-items: center;
        align-items: center;
    }

    #options-container.resumed {
        display: none;
    }

    #options-toggle-btn {
        position: absolute;
        top: 0px;
        right: 0px;
        background: none;
        color: var(--theme-color);
        font-size: 21px;
    }

    #options-toggle-btn.activated {
        display: block;
    }

    #sudoku-container.resumed {
        display: block;
    }

    #special.resumed {
        display: block;
    }

    #menu-icon { 
        width: 30px;
        height: 30px;
    }

    #sudoku-container {
        width: 100%;
    }

    #clock-container {
        width: 70px;
        height: 20px !important;
        position: absolute;
        top: 5px;
        left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #clock {
        font-size: 16px;
    }

    #special {
        width: 100%;
        display: none;
        /* flex-wrap: wrap;
        gap: 10px; */
    }

    #special.show {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .special-button {
        font-size: 12px;
    }

    .special-button img {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }

    .popup {
        width: 300px;
    }

    #play-icon.paused, #play-icon.resumed { display: none; }
    #pause-icon, #pause-icon.paused, #pause-icon.resumed { display: none; }
    #menu-icon, #close-icon { display: block; }

    .settings-gear {
        /* top: 5px; */
        right: -10px;
        font-size: 22px;
    }

    .settings-section {
        padding: 20px;
    }

    .settings-link {
        font-size: 16px;
        padding: 10px 15px;
    }

    .delete-account-btn, .logout-btn {
        font-size: 16px;
        padding: 10px 15px;
    }
}
