/* ========================= Root Variables ========================= */
:root {
    --board-size: min(60vh, 30vw);
    --tile-size: calc(var(--board-size) / 9);
    --option-width: min(10vw, 100px);
    --option-height: var(--board-size);
}

/* ========================= General Styles ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #F9F5F2;
    color: #3E3E3E;
    text-align: center;
    touch-action: manipulation;
    /* padding-top: 60px; */
    padding-bottom: 50px;
}

.prevent-text-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* ========================= Heading Styles ========================= */
h1, h2, h3 {
    color: #2A2A2A;
    font-family: 'Poppins', sans-serif;
}

h1 { font-size: 36px; margin-bottom: 20px; }
h2 { font-size: 28px; margin-bottom: 15px; }
h3 { font-size: 22px; margin-bottom: 10px; }

/* ========================= Links Styling ========================= */
a {
    text-decoration: none;
    color: #FF6F61;
}

a:hover {
    color: #F5A623;
}

/* ========================= Navbar Styles ========================= */
nav {
    background-color: #FF6F61;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    margin: 0 20px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #F5A623;
}

/* ========================= Container Styles ========================= */
.container {
    width: 60%;
    max-width: 1000px;
    min-height: 400px;
    margin: 0 auto;
    padding: 30px 50px 50px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

#solve-sudoku-container {
    width: 60%;
    max-width: 1000px;
    height: calc(var(--board-size) * 1.5);
    margin: 0 auto;
    padding: 30px 50px 50px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    position: relative;
    display: flex;
}

#sudoku-container {
    width: 75%;
    justify-content: center;
}

#sudoku-container h1 {
    font-size: calc(var(--tile-size) * 0.8);
}

/* ========================= Form Styles ========================= */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

form input, form select, form button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #FAFAFA;
    font-size: 16px;
}

form button {
    background-color: #FF6F61;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #F5A623;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* ========================= Sudoku Board & Options ========================= */
#title {
    height: min(calc(var(--tile-size) * 1.0), 100px);
}

#options {
    width: var(--option-width);
    height: var(--board-size);
    margin-top: calc(min(calc(var(--tile-size) * 1.0), 100px) + 20px);
    text-align: center;
    justify-content: center;
    font-size: calc(var(--tile-size) * 0.4);
}

#options h2 {
    font-size: calc(var(--option-width) * 0.19);
}

/* ========================= Clock & Pause Button ========================= */
#clock-container {
    position: absolute;
    top: 3px;
    right: 30px;
    width: var(--option-width);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

#clock-container.hide {
    display: none;
}

#clock-box {
    border: solid, black;
    border-radius: 5px;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    width: 80%;
}

#clock {
    font-size: calc(var(--option-width) * 0.25);
}

#pause-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#pause-icon, #play-icon {
    width: calc(var(--tile-size) * 0.7);
    height: calc(var(--tile-size) * 0.7);
}

#pause-icon.paused {
    display: none;
}

#pause-icon.resumed {
    display: block;
}

#play-icon.paused {
    display: block;
}

#play-icon.resumed {
    display: none;
}

/* #pause-icon.paused, #play-icon.resumed {
    display: none;
}

#play-icon.paused, #pause-icon.resumed {
    display: block;
} */

#menu-icon, #options-toggle {
    display: none;
}

/* ========================= Sudoku Board Grid ========================= */
.board, .solution {
    width: var(--board-size);
    height: var(--board-size);
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 0;
}

.solution {
    display: none;
}

#pause-screen {
    width: var(--board-size);
    height: var(--board-size);
    margin: 20px auto;
    border-radius: 15px;
    background: linear-gradient(135deg, #F9F5F2, #f3e3d7);
    /* animation: fadeIn 0.5s ease-in-out; */

    justify-content: center;
    align-items: center;
    display: none;
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    border: 1px solid lightgray;
    font-size: calc(var(--tile-size) * 0.4);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-tile { background-color: whitesmoke; }
.tile-selected { background-color: gray; }

/* ========================= Numbers ========================= */
#numbers {
    width: var(--board-size);
    height: calc(var(--tile-size) * 0.9);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 0;
}

.number {
    width: calc(var(--tile-size) * 0.9);
    height: calc(var(--tile-size) * 0.9);
    margin: 3px;
    border-radius: 50%;
    background-color: #FF6F61;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number.number-selected {
    background-color: #f68d84;
}

.number.number-used {
    background-color: #a8a8a8;
    cursor: not-allowed;
}

#notes {
    display: none;
}

/* ========================= Pop-up ========================= */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #F9F5F2, #f3e3d7);
    color: #2A2A2A;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 25px;
    width: 350px;
    text-align: center;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.popup h1 {
    color: #2A2A2A;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, -55%); }
    to { opacity: 1; transform: translate(-50%, -50%); }
}

.popup-content {
    position: relative;
    padding: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    color: #2A2A2A;
    transition: 0.3s;
}

.close:hover {
    color: #ff4d4d;
}

.popup-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-message {
    font-size: 16px;
    margin-bottom: 15px;
}

.popup-stats {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.popup-new-game-btn {
    background-color: #FF6F61;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-btn:hover {
    background-color: #F5A623;
}

.popup-show {
    display: block;
}

/* ========================= Buttons ========================= */
button {
    background-color: #FF6F61;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F5A623;
}

.special-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: 70%;
    color: rgb(94, 94, 94);
    font-size: calc(var(--tile-size) * 0.3);
}

.special-button img {
    width: calc( var(--tile-size) * 0.5);
    height: calc( var(--tile-size) * 0.5);
    margin-bottom: 5px;
}

.special-button:hover {
    background-color: inherit;
    color: inherit;
}

#special {
    width: var(--option-width);
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
}

#special.show {
    display: flex;
}
  
.special-button.number-selected {
    opacity: 100%;
}

.special-clicked {
    opacity: 100%;
}

#difficulty {
    width: var(--option-width);
    height: calc(var(--board-size) * 0.4);
    margin: auto;
    justify-content: center;
    align-items: center;
}

#game-options {
    width: var(--option-width);
    height: calc(var(--board-size) * 0.6);
    margin: auto;
    justify-content: center;
    align-items: center;
}

.new-game-btn {
    width: var(--option-width);
    height: 25%;
    font-size: calc(var(--tile-size) * 0.3);
    border-radius: 5px;
    cursor: pointer;
    margin: 5px auto;
    transition: background-color 0.3s ease;
}

.new-game-btn:hover {
    background-color: #F5A623;
}

/* ========================== Timer Switch ========================= */
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.toggle-label {
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    /* width: calc(var(--option-width) * 0.5); */
    /* height: calc(var(--option-width) * 0.25); */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #FF6F61;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

/* ========================= Mobile Styles ========================= */
@media only screen and (max-width: 768px) {
    .container { width: 95%; padding: 20px; }
    nav { font-size: 16px; }
    h1 { font-size: 28px; }
    h2 { font-size: 24px; }
    h3 { font-size: 20px; }
    
    .board, .solution { width: 300px; height: 300px; }
    .tile { width: 32px; height: 32px; font-size: 16px; }
    .new-game-btn { width: 70%; }

    
    #play-icon.paused { display: none; }
    #pause-icon { display: none; }
    #menu-icon, #close-icon { display: block; }

    #sudoku-board { margin: 0 auto; }
    
    /* Hide the options menu by default */
    #options {
        width: 95%; 
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        display: block;
        justify-content: center;
    }

    /* Add a toggle button to open/close the options menu */
    #options-toggle {
        position: absolute;
        top: 80px;
        right: 10px;
        z-index: 1;
        cursor: pointer;
        background: none;
        border: none;
        display: none;
    }

    #options-toggle.resumed {
        top: 115px;
        right: 20px;
    }

    #options-toggle.activated {
        display: block;
    }

    #sudoku-container.paused {
        display: none;
    }

    #menu-icon { 
        width: 35px;
        height: 35px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .new-game-btn { width: 400px; }
}
